<div class="edit-div d-flex">
    <div>
        <h1>Edit Tweet</h1>

        <%= render 'form', tweet: @tweet %>

        <%= link_to 'Show', @tweet %> |
        <%= link_to 'Back', tweets_path %>
    </div>
</div>