<section>
  <div>
    <div>
      <%= render 'form', tweet: @tweet %>
    </div>
  </div>

  <div>
    <p id="notice"><%= notice %></p>
    <div>
      <% @tweets.each do |tweet| %>
        <div>
          <p><%= tweet.author %></p>
          <p><%= tweet.Text %></p>
          <%#= link_to 'Show', tweet %>
          <%#= link_to 'Edit', edit_tweet_path(tweet) %>
          <%#= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </tbody>
  </div>
</section>

<br>
<%#= link_to 'New Tweet', new_tweet_path %>
