
      <div class="container-fluid">
        <% @users.each do |user| %>
          <% if user.followings %>
            <h5><%= link_to user.username %></h5>
            <%= link_to "follow", follow_users_path(@following), class: "unfollow"  %>
          <% else %>
            <h5><%= link_to user.username %></h5>
            <%= link_to "unfollow", unfollow_users_path(@followed), class: "unfollow" %>
          <% end %>
        <% end %>
      </div>
