<div>
  <% @user.username %>
  <div>
    <% if current_user.id != @user.id %>
      <% if current_user.following?(@user) %>
        <% link_to 'unfollow', unfollow_users_path %>
      <% end %>
    <% else %>
       <%= link_to 'follow', follow_users_path %>
    <% end %>
  </div>
</div>
